
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("images/Logo_Frisz.jpg");
}

#homephoto {
    width: 100%;
    background-color: #789e95;
}
section {
    margin-bottom: 50px;
}

#navbar {
    background-color: #e3f2fd;
}

#hero-img {
    background: url("images/terras2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}

#menu-voor-img {
   background-color: #789e95;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}

#menu-achter-img {
    background: url("images/behang.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px;
}

.hero-text {
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255, 0.8);
}
#menukaart {
    width: 100%;
}
#menukaart:hover {
    cursor: zoom-in;
}

h1 {
    font-size: 25.5vw;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.6);
margin: 20px;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sfeer {
    width: 100px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #789e95;
   color: white;
   text-align: center;
   height: 50px;
}
#container {

}
#logo_tekst {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("images/Logo_Frisz.jpg");
    content: center;
    position: relative;
}


/* ---------------------------------------------- Menu zoom */

#preview{
	margin-top: 10px;
	border:1px solid black;
	width:50px;
	height:50px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#menukaart{
	text-align: center;
}
#menukaart img {	
	margin: 10px;
	display: block;
	 border: 2px solid #6A6462;
}
#menukaart img:hover {
	 cursor: zoom-in;
	 border: 0;
	 -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
	-webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
	box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}
@media screen and (max-width: 767px){
	#samples img {
		display: inline-block;
	}
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}