
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(120, 158, 146, 0.4);
    text-align: center;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("images/Logo_Frisz.jpg");
}
header {
    margin-top: 75px;
}
#logo_tekst {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("images/Logo_Frisz.jpg");
    content: center;
    position: relative;
}

#homephoto {
    width: 100%;
    background-color: #789e95;
}
section {
    margin: 30px 0px 0px 0px;
}



/*  #front {
    content: url("images/Terras3.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height:100vh;
}

*/

#hero-img-small {
    background: url("images/hero.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}

#hero-img-big {
    background: url("images/hero.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#hero-img-xbig {
    background: url("images/hero.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.hero-text {
  text-align: center;
  background-color:  rgba(120, 158, 146, 0.8);
}

.hero-text-big {
  text-align: center;
  background-color:  rgba(120, 158, 146, 0.8);
  height: 100%;
  margin: 50px;
}

.hero-text-xbig {
  text-align: center;
  background-color:  rgba(120, 158, 146, 0.8);
  height: 100%;
  margin: 70px;
}


#menu-voor-img {
   background: url("images/behang.png");
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 20px 20px 20px;
}

#menukaart-small {
    width: 100%;
}
#menukaart-big {
    width: 100%;
}
p {
    font-size: 1rem;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.6);
    margin: 20px;
    align-content: center;
}

#photo img {
    width: 100%;
    padding: 5px 0px 0px 5px;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
}


.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #789e95;
   color: white;
   text-align: center;
   height: 20px;
}

.titel {
    align-content: center;
    text-align: center;
    padding-top: 75px;

}

h3 {
    font-size: 1.5rem;
    color: #000000;
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.6);
    margin: 20px;
    align-content: center;
}

#button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
}




.imagepreview{
	margin-top: 10px;
	border:1px solid black;
	width:75%;
	background-repeat: no-repeat;
}

/* ---------------------------------------------- Menu zoom
#menukaart{
	text-align: center;
}
#menukaart img {	
	margin: 10px;
	display: block;
	 border: 2px solid #6A6462;
}
#menukaart img:hover {
	 cursor: zoom-in;
	 border: 0;
	 -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
	-webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
	box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}
@media screen and (max-width: 767px){
	#samples img {
		display: inline-block;
	}
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:
  width: 100px;
  height: 100px;
}
 */